:root {
	font-family:sans, sans-serif;
	font-size:5vh;
}
body {
	margin:0;
	padding:0;
	text-align:center;
	background-color:#006000;
	color:#ffffff;
}
div.gridContainer {
	display:grid;
	gap:2vh;
	position:absolute;
	left:0;
	right:0;
	height:96vh;
	margin:2vh 0;
	grid-template-columns: auto;
	grid-template-rows: 5vh auto 5vh auto 8vh 5vh;
}
div.card, div.cardback {
	display:inline-block;
	color:#000000;
	border-radius:.4rem;
	background-color:#ffffff;
	height:100%;
	aspect-ratio: 5/7;
	border:0;
	position:relative;
	filter: drop-shadow(.02rem .02rem .1rem #000000);
	margin-right:-16vh;
}
div.card:before, div.cardback:before {
	border-radius:.3rem;
	content: "";
	display: block;
	position: absolute;
	top: 2%;
	left: 3%;
	right: 3%;
	bottom: 2%;
	pointer-events: none;
}
div.card:before {
	background: none;
	border: .12rem solid #000000;
}
div.cardback:before {
	background-color:#a80000;
	background-position: 10px 10px;
	background-size: .8rem;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='100'><polygon points='30,0 60,50 30,100 0,50' fill='transparent' stroke='white' /></svg>");
}
div.card:last-child {
	margin-right:0;
}
div.card div, div.cardback div {
	margin:10% 5%;
	line-height:70%;
	width:20%;
	height:25%;
	font-size:1rem;
	text-align:center;
	letter-spacing:-.1rem;
}
svg { height:.8rem; margin:.5vh; }
div.card div:nth-child(2), div.cardback div:nth-child(2) {
	transform:rotate(180deg);
	float:right;
	position:absolute;
	right:0;
	bottom:0;
}
div.card.red {
	color:#a80000;
}
div.card.red:before {
	border-color:#a80000;
}
button {
	font-size:100%;
	padding:.05rem .5rem;
	border-radius:.3rem;
	background-color:#e0e0e0;
	border-color:#e0e0e0;
	border-style:outset;
	white-space:nowrap;
	margin:.1rem;
}
button:active {
	border-style:inset;
}
button:disabled {
	background-color:#808080;
	border-color:#808080;
	color:#404040;
}
button:enabled:hover {
	background-color:#f0f0f0;
	border-color:#f0f0f0;
}
div.header {
	font-size:100%;
}
div.buttons {
	white-space:nowrap;
}
@media (orientation: portrait) {
	div.buttons {
		display:grid;
		grid-template-columns: 1fr 1fr;
	}
	div.gridContainer {
		grid-template-rows: 5vh auto 5vh auto 25vh 5vh;
	}
	div.card, div.cardback {
		margin-right:-11vh;
	}
}